# Compiled class file
#*.class

# Log file
#*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
bin/modules
bin/platform
/log
/temp
/roles
/data
.idea
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#++++++++++++++Recommended - Typical patterns to ignore and other rules+++++++++++

# Folders to ignore, whatever the place they are

.metadata
classes
hybris/bin/**/bin
gensrc

# Folders to ignore at the root of the repository
log/
temp/
data/
licenses/
hybris/sampleconfigurations/


# filter only custom extension
bin/*
!bin/custom/

# Absolute path to ignore
config/local.properties

# Filename patterns to ignore
*.class
build.xml
Generated*.java
platformhome.properties
*testclasses.xml
extensioninfo.xsd
*hmc.jar
hmc.xsd
items.xsd
beans.xsd
ruleset.xml
*.log
base.properties


#  Addon specific copy folders
**/_ui/addons
**/views/addons
**/tld/addons
**/tags/addons
**/messages/addons
*_bof.jar
